link(rel='stylesheet', href='/css/message.css')
.message-container
    .modal-bg
    .message
        header
            h4 回复消息
            a(href="javascript:;")#a-close ×
        .content
            .form-div
                label(for="messageTitle") 消息标题
                input.input.input-disabled(readonly="readonly"  name="messageTitle" id="messageTitle" value="回复：#{message.title}")
            .form-div
                label(for="receiver") 消息接收方
                input.input.input-disabled(readonly="readonly" name="receiver" id="receiver" dataId="#{message.senderId._id}" value="#{message.senderName}")
            .form-div
                label(for="sender") 消息发送方
                input.input.input-disabled(readonly="readonly" name="sender" id="sender" dataId="#{message.receiverId}" value="#{message.receiverName}")
            .form-div
                label(for="content") 消息内容
                span.tip#content-tip ❤ 内容不能为空
                textarea( name="content" id="content" placeholder="请输入您的内容...")
        footer
            button.btn#btn-close 关闭
            button.btn#btn-send 发送

