extends ../layout

block append style
	link(rel="stylesheet", href="/css/adminCommon.css")
	link(rel="stylesheet", href="/css/adminUser.css")

block content
	.container
		.row
			nav
				ul#nav-list
					li.active
						a(href="javascript:;") 用户管理
					li
						a(href="/user/adminGood") 商品管理

			div.input-div
				div.search-div
				input(name='userName' id="search-input" type='text' placeholder='请输入用户名，支持模糊搜索')

		.row
			table.table.table-hover.table-bordered.table-striped
				thead
					tr
						th 序列号
						th 用户名
						th 发布商品数
						th 手机长号
						th 手机短号
						th 微信号
						th QQ号
						th 当前住址
						th 创建时间
						th 是否屏蔽
						th 操作
				tbody
					if users.length > 0
						each user, i in users
							tr(dataId="#{user._id}" id="tr-#{user._id}")
								td #{i+1}
								td #{user.userName}
								td #{user.myGoods.length}
								td #{user.longPhone}
								td #{user.shortPhone}
								td #{user.wechat}
								td #{user.qq}
								td #{user.address}
								td= moment(user.created).format("YYYY-MM-DD")
								if user.isShield
									td.shield-text 是
									td
										button.btn-normal 解除屏蔽
								else
									td.shield-text 否
									td
										button.btn-dangerous 屏&nbsp;蔽

		if users.length > 0
			.row
				include ../includes/bottom-tip

		if users.length == 0 && isSearch == false
			.row.warn-tip
				span 用户注册量为0！！！
		if users.length == 0 && isSearch == true
			.row.warn-tip
				span 搜索不到相关的用户！！！

block append script
	script(src='/js/jquery.min.js')
	script(src='/js/adminUser.js')
	script(src='/js/bottom-tip.js')