extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/commonGood.css')

block content
	.container
		.leftBar
			ul.nav-list
				li.nav
					a(href="/user/info") 个人信息
				li.nav
					a(href="/user/inbox") 收件箱（<span>#{noReadNum}</span>）
				li.nav
					a(href="/user/sendbox") 已发送消息
				li.nav
					a(href="/user/publishGood") 发布商品
				if isCollect == true
					li.nav.active
						a(href="/user/collectGood") 收藏商品
					li.nav
						a(href="/user/commentGood") 留言商品
				else
					li.nav
						a(href="/user/collectGood") 收藏商品
					li.nav.active
						a(href="/user/commentGood") 留言商品
		.content-block
			.title-div
				if isCollect == true
					h5 个人中心 ＞ 收藏商品
				else
					h5 个人中心 ＞ 留言商品
			ul.good-list
				if goods.length > 0
					each good in goods
						li.good-item(dataId="#{good._id}" isEnter="#{good.isEnter}")
							img(src='/image?imageId=#{good.images[0]}' title='戳我可以查看商品详情哦~')
							.good-info
								h6(title='戳我可以查看商品详情哦~') #{good.goodName}
								p #{good.detail}
								span 价格：¥ #{good.price}
								span 状态：#{good.tradeStatus}
								span 发布时间：#{moment(good.meta.createdAt).format("YYYY-MM-DD")}

				if goods.length == 0
					li.good-item
						if isCollect == true
							span.good-tip 亲，你的收藏空空如也！！！
						else
							span.good-tip 亲，你的留言空空如也！！！

			if goods.length > 0
				.tip
					include ../includes/bottom-tip


	.publish-div
		a(href="/goodEdit") 发布商品


block append script
	script(src='/js/jquery.min.js')
	script(src='/js/commonGood.js')
	script(src='/js/bottom-tip.js')
