extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/inbox.css')

block content
	.container
		.leftBar
			ul.nav-list(blockNo="0")
				li.nav
					a(href="/user/info") 个人信息
				li.nav.active
					a(href="/user/inbox") 收件箱（<span id="noReadNum">#{noReadNum}</span>）
				li.nav
					a(href="/user/sendbox") 已发送消息
				li.nav
					a(href="/user/publishGood") 发布商品
				li.nav
					a(href="/user/collectGood") 收藏商品
				li.nav
					a(href="/user/commentGood") 留言商品
		.content-block
			h4 
				span 收件箱
				span#mail_info （共#{sessionUser.myReceiveMessages.length}条，其中<span>未读消息</span>#{noReadNum}条）
			.operation-div
				a.btn.btn-delete(href="javascript:;")  删除
				a.btn.btn-hasRead(href="javascript:;") 全部标为已读
			ul.mail-list
				li.mail-item.mail-header
					div
						a.box(href="javascript:")
					div
						a.letter(href="javascript:;")
					div 发件人
					div 主题
					div 时间
				each message, i in sessionUser.myReceiveMessages
					if message.isRead
						li.mail.mail-item.read(dataId="#{message._id}" index="#{i}" test="#{message.isRead}" id="msg-#{message._id}")
							div
								a.box(href="javascript:")
							div
								a.letter(href="javascript:;")
							div #{message.senderName}
							div
								span #{message.title}
								span &nbsp;&nbsp;-&nbsp;&nbsp;#{message.content}
							div= moment(message.created).format("YYYY-MM-DD")
					else
						li.mail.mail-item(dataId="#{message._id}" index="#{i}" test="#{message.isRead}" id="msg-#{message._id}")
							div
								a.box(href="javascript:")
							div
								a.letter(href="javascript:;")
							div #{message.senderName}
							div
								span #{message.title}
								span &nbsp;&nbsp;-&nbsp;&nbsp;#{message.content}
							div= moment(message.created).format("YYYY-MM-DD")


	.publish-div
		a(href="/goodEdit") 发布商品


block append script
	script(src='/js/jquery.min.js')
	script(src='/js/mailCommon.js')
