extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/messageDetail.css')

block content
	.container
		.leftBar
			ul.nav-list(blockNo="#{blockNo}")
				li.nav
					a(href="/user/info") 个人信息
				if blockNo == 0
					li.nav.active
						a(href="/user/inbox") 收件箱（<span>#{noReadNum}</span>）
					li.nav
						a(href="/user/sendbox") 已发送消息
				else
					li.nav
						a(href="/user/inbox") 收件箱（<span>#{noReadNum}</span>）
					li.nav.active
						a(href="/user/sendbox") 已发送消息
				li.nav
					a(href="/user/publishGood") 发布商品
				li.nav
					a(href="/user/collectGood") 收藏商品
				li.nav
					a(href="/user/commentGood") 留言商品
		.content-block(msgId="#{message._id}")
			.operation-div
				if blockNo == 0
					a.btn.btn-return(href="/user/inbox")  返回
					a.btn.btn-reply(href="javascript:;") 回复
				else
					a.btn.btn-return(href="/user/sendbox")  返回
				a.btn.btn-delete(href="/user/mailbox/doDeleteOne?msgId=#{message._id}&blockNo=#{blockNo}") 删除
			.mail-info
				h6.mail-tile #{message.title}
				.line.sender
					span 发件人：
					span #{message.senderName}
				.line.time
					span 时&nbsp;&nbsp;&nbsp;&nbsp;间：
					span= moment(message.created).format("YYYY年MM月DD日")
				.line.recipient
					span 收件人：
					span #{message.receiverName}
				if message.senderId.portraitUrl
					img(src='/image?imageId=#{message.senderId.portraitUrl}')
				else
					img(src='/img/default-user.png')
			p.mail-content #{message.content}


	.publish-div
		a(href="/goodEdit") 发布商品

	include ../includes/replyMessage


block append script
	script(src='/js/jquery.min.js')
	script(src="/js/replyMessage.js")
