extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/publishGood.css')

block content
	.container
		.leftBar
			ul.nav-list
				li.nav
					a(href="/user/info") 个人信息
				li.nav
					a(href="/user/inbox") 收件箱（<span>#{noReadNum}</span>）
				li.nav
					a(href="/user/sendbox") 已发送消息
				li.nav.active
					a(href="/user/publishGood") 发布商品
				li.nav
					a(href="/user/collectGood") 收藏商品
				li.nav
					a(href="/user/commentGood") 留言商品
		.content-block
			.title-div 
				h5 个人中心 ＞ 发布商品
			ul.good-list
				if goods.length > 0
					each good in goods
						li.good-item(dataId="#{good._id}")
							img(src='/image?imageId=#{good.images[0]}')
							.good-info
								h6 #{good.goodName}
								p #{good.detail}
								span 价格：¥ #{good.price}
								span 状态：#{good.tradeStatus}
								span 发布时间：#{moment(good.meta.createdAt).format("YYYY-MM-DD")}
							footer
								ul.footer-list
									li.footer-item
										a(href="/goodDetail?goodId=#{good._id}") 查看
									li.footer-item
										a(href="/goodModify?goodId=#{good._id}") 修改

				if goods.length == 0
					li.good-item
							span.good-tip 亲，你尚未发布过商品哦~

			if goods.length > 0
				.tip
					include ../includes/bottom-tip


	.publish-div
		a(href="/goodEdit") 发布商品


block append script
	script(src='/js/jquery.min.js')
	script(src='/js/bottom-tip.js')

