extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/inbox.css')
	link(rel='stylesheet', href='/css/sendbox.css')

block content
	.container
		.leftBar
			ul.nav-list(blockNo="1")
				li.nav
					a(href="/user/info") 个人信息
				li.nav
					a(href="/user/inbox") 收件箱（<span>#{noReadNum}</span>）
				li.nav.active
					a(href="/user/sendbox") 已发送消息
				li.nav
					a(href="/user/publishGood") 发布商品
				li.nav
					a(href="/user/collectGood") 收藏商品
				li.nav
					a(href="/user/commentGood") 留言商品
		.content-block
			h4 
				span 已发送信息
				span#mail_info （共#{sessionUser.mySendMessages.length}条）
			.operation-div
				a.btn.btn-delete(href="javascript:;")  删除
			ul.mail-list
				li.mail-item.mail-header
					div
						a.box(href="javascript:")
					div
						a.letter(href="javascript:;")
					div 收件人
					div 主题
					div 时间
				each message, i in sessionUser.mySendMessages
					li.mail-item.mail(dataId="#{message._id}" index="#{i}" id="msg-#{message._id}")
						div
							a.box(href="javascript:")
						div
							a.letter(href="javascript:;")
						div #{message.receiverName}
						div
							span #{message.title}
						div= moment(message.created).format("YYYY-MM-DD")

	.publish-div
		a(href="/goodEdit") 发布商品


block append script
	script(src='/js/jquery.min.js')
	script(src='/js/mailCommon.js')
